*{
	margin: 0;
	padding: 0;
}
.swiper-container{
	width:100%;
	min-width: 1500px;
	height: 720px;
	position: relative;
}
.swiper-wrapper{
	width:100%;
	height: 720px;
}
.swiper-slide{
	position: relative;
}
.swiper-slide-img{
	width:100%;
	height: 720px;
}
.swiper-slide-box{
	position: absolute;
	top:123px;
	left:45px;
	width:1094px;
	height: 456px;
	text-align: center;

}
.swiper-slide-box-img{
	width:312px;
	height: 82px;
	margin-top:47px;
}
.swiper-slide-box-text{
	font-size:60px;
	font-weight: bold;
	color:#FFF;
	line-height: 79px;
	margin-top:34px;
}
.swiper-slide-box-font{
	margin-top:11px;
	font-size:46px;
	color:#FFF;
	line-height: 61px;
}
.swiper-slide-box-botton{
	width:162px;
	height: 50px;
	background-color: #FFF;
	border-radius: 3px;
	color:#7464DE;
	font-size:20px;
	line-height: 50px;
	text-align: center;
	margin-left:488px;
	margin-top:34px;
	cursor: pointer;
}
.swiper-slide-box-botton:hover{
	background-color: rgba(255,255,255,0.8);
}
.banner2-box{
	width:100%;
	position: absolute;
	top:312px;

}
.banner2-title{
	font-size:60px;
	color:#FFF;
	text-align: center;
	line-height: 79px;
}
.banner2-font{
	margin-top:11px;
	font-size:46px;
	line-height: 61px;
	color:#FFF;
	text-align: center;
}
.banner2-buttom{
	width:162px;
	height: 50px;
	background-color: #fff;
	margin:0 auto;
	line-height: 50px;
	text-align: center;
	color:#7464DE;
	margin-top:30px;
	border-radius: 3px;
	cursor: pointer;
}
.banner2-buttom:hover{
	background-color: rgb(255,255,255,0.8);

}



.swiper-pagination-bullet{
	background: #FFFFFF;

}
.swiper-pagination-bullet-active{
	background-color: #FFFFFFF;
	opacity: 0.5;
}
.swiper-pagination-nav{
	position: absolute;
	/*width:1200px;*/
	height: 64px;
	top:0;
	left:50%;
	margin-left:-600px;
	/*background-color: #ddd;*/
	z-index: 999999;
	/*line-height: 64px;*/
	/*display: flex;
	flex-direction: row;
	align-items: center;*/

}
.swiper-pagination-img{
	width:115px;
	height: 30px;
	margin-top:17px;
	float:left;
	/*line-height: 64px;*/
}
.swiper-pagination-nav-box{
	height: 100%;
	margin-left:344px;
	font-size:15px;
	color:#FFFFFF;
	float: left;
}


.nav-ul-li{
	position: relative;
	float:left;
	margin:0 24px;
	height: 64px;
	list-style: none;
	/*transition: all 0.6s;*/
}
.b{
	height: 71px;
}
.bb{
	height: 71px;
}
.nav-ul-li-a{
	height: 62px;
	line-height: 62px;
	text-decoration: none;
	color:#FFF;
}

.nav-ul-li-border{
	width:0;
	height:0;
	border-bottom:2px solid #fff;
	transition: all 0.6s;
	margin:0 auto;
}
.nav-ul-li-a-img{
	width:11px;
	height: 6px;
	margin-left:5px;
}
.swiper-pagination-nav-clear{
	width:100px;
	height: 34px;
	background-color: #FFF;
	font-size:15px;
	color:#7464DE;
	line-height: 34px;
	text-align: center;
	float: left;
	margin-left:16px;
	margin-top:13px;
	border-radius: 2px;
	cursor: pointer;
}
.swiper-pagination-nav-clear:hover{
	background-color: rgba(255,255,255,0.8);
}
.swiper-pagination-nav-register{
	float: left;
	width:100px;
	height: 34px;
	border:1px solid rgba(255,255,255,0.57);
	border-radius: 2px;
	margin-left:10px;
	margin-top:13px;
}
.swiper-pagination-nav-register:hover{
	border:1px solid rgba(255,255,255,0.3);
}
.swiper-pagination-nav-register-a{
	display: block;
	width:100px;
	height: 34px;
	line-height: 34px;
	color:#FFF;
	text-align: center;
	text-decoration: none;
	opacity: 0.57;
	border-radius: 2px;
}
.swiper-pagination-nav-register-a:hover{
	opacity: 0.3;
}
.cpjj-eject-empty{
	width:337px;
	height: 5px;
	position: absolute;
	top:65px;
	left:-45px;
}
.cpjj-eject{
	width:337px;
	height: 245px;
	border-radius: 4px;
	position: absolute;
	top:71px;
	left:-45px;
	z-index:999999;
	padding: 17px 17px 25px 18px;
	box-sizing: border-box;
	transition: all 0.6s;
	background-color: #FFF;
	display: none;
}
.cpjj-eject-box{
	width:300px;
	height: 70px;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration:none;
	border-radius: 2px;
}
.cpjj-eject-box:hover{
	background-color: #F7F7F7;
}
.cpjj-eject-box-img{
	width:50px;
	height: 50px;
	margin-left:9px;
}
.cpjj-eject-box-text{
	margin-left: 15px;
	text-decoration:none;
}
.cpjj-eject-box-text-title{
	font-size:16px;
	color:#333;
	line-height: 21px;
	text-decoration:none;
}
.cpjj-eject-box-text-font{
	font-size:13px;
	color:#666666;
	line-height: 17px;
	text-decoration:none;
}



.content{
	width:100%;
	/*height: 730px;*/
	min-width: 1500px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.content-title{
	font-size:36px;
	line-height: 47px;
	margin-top:81px;
	color:#333;
	text-align: center;
}
/* .content-box{
	margin:0 auto;
	margin-top:39px;

} */
.content-img{
	width:500px;
	height: 500px;
	float:left;
	margin-bottom: 58px;
}
.content-text{
	float:left;
	margin-left:173px;
}
.content-text-list{
	margin-top:57px;
	overflow: hidden;
}
.content-text-list-img{
	width:50px;
	height: 50px;
	float:left;

}
.content-text-list-box{
	float:left;
	margin-left:2px;
}
.content-text-list-box-title{
	font-size:24px;
	color:#333;
	line-height: 31px;
}
.content-text-list-box-text{
	font-size:16px;
	color:#666;
	line-height: 21px;
}
.content-text-list-box-a{
	display: block;
	width:70px;
	height: 26px;
	line-height: 26px;
	text-decoration: none;
	background-color: #F0EEFE;
	color:#6966C6;
	text-align: center;
	font-size:12px;
	border-radius: 13px;
	margin-top:5px;
}
.moudule{
	width:100%;
	min-width: 1500px;
	height: 240px;
	background-color: #F0EEFE;
	position: relative;
	overflow: hidden;
}
.moudule-title{
	width:100%;
	height: 38px;
	font-size:30px;
	color:#7464DE;
	text-align: center;
	margin-top:54px;
}
.moudule-buttom{
	width:180px;
	height: 50px;
	background-color: #7464DE;
	border-radius: 3px;
	color:#FFF;
	margin:0 auto;
	line-height: 50px;
	text-align: center;
	font-size:20px;
	margin-top:43px;
	cursor: pointer;
}
.moudule-buttom:hover{
	opacity: 0.8;
}
.moudule-phone{
	width:200px;
	height: 66px;
	background-color:#7464DE;
	border-radius:5px 0px 0px 5px;
	position: absolute;
	right:0;
	top:71px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.moudule-phone-img{
	width:46px;
	height: 46px;
	margin-left:16px;
}
.moudule-phone-text{
	margin: 14px;
	color:#FFF;
	font-size:16px;
}
.footer{
	width:100%;
	min-width: 1500px;
	height: 260px;
	background-color: #333;
	overflow: hidden;
}
.footer-box{
	width:1200px;
	height: 260px;
	margin:0 auto;
}
.footer-box-list1{
	height: 100%;
	margin-left:24px;
	float: left;
	width:336;
}
.footer-box-list-title{
	font-size:18px;
	color:#fff;
	margin-top:67px;
}
.footer-box-list-box{
	margin-top:10px;
}
.footer-box-list-box-list{
	margin-top:10px;
	font-size:14px;
	color:#AFAFAF;
}
.footer-box-list2{
	margin-left:136px;
	float:left;
	width:336;
}
.footer-box-list3{
	float: left;
	margin-left:59px;
}
.footer-box-list-img{
	width:100px;
	height: 100px;
	margin-top:15px;
}
.footer-box-list4{
	float: left;
	margin-left:67px;
}

/*弹出*/
.eject{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	z-index:9999999;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
.eject-box{
	width:400px;
	height: 380px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.eject-box-title{
	font-size:18px;
	color:#333;
	font-weight:400;
	margin-top: 41px;
	margin-bottom: 5px;
}
.eject-box-lis{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top:15px;
	border-radius: 2px;
}
.eject-box-lis-name{
	width:70px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.eject-box-lis-input{
	width:220px;
	height: 38px;
	line-height: 38px;
	color:#999999;
	border:1px solid #F2F2F2;
	padding-left: 10px;
	box-sizing: border-box;
	margin-left:10px;
}
.eject-box-lis-input-code{
	width:120px;
}
.eject-box-lis-button{
	min-width: 80px;
	height: 38px;
	margin-left:10px;
	border:1px solid #7464DE;
	line-height: 38px;
	text-align: center;
	font-size:12px;
	color:#7464DE;
	cursor: pointer;
	padding: 0 5px;
	box-sizing: border-box;
	border-radius: 2px;
}
.eject-box-img{
	width:24px;
	height: 24px;
	position: absolute;
	top:15px;
	right:15px;
	cursor:pointer;
}
.eject-box-buttom{
	width:180px;
	height: 38px;
	background-color: #7464DE;
	border-radius: 2px;
	margin:0 auto;
	margin-top:32px;
	line-height: 38px;
	text-align: center;
	font-size:13px;
	color:#FFF;
	border-radius: 2px;
	cursor: pointer;
}


/*续费带新*/
.xufeidaixin-title{
	font-size:36px;
	color:#333;
	line-height: 52px;
	width:100%;
	text-align: center;
	margin-top:77px;
}
.xufeidaixin-content{
	margin:0 auto;
	margin-top:89px;
	/* margin-left:521px; */
	margin-bottom: 79px;
	display: flex;
	flex-direction: row;
}
.xufeidaixin-content-box{
	width:340px;
	height: 653px;
	background: url(../img/phone_2.png) no-repeat center center;
	background-size: 100%;
	position: relative;
}
.xufeidaixin-content-box-img{
	width:287px;
	height: 510px;
	position: absolute;
	top:56px;
	left:26px;
	transition: all 0.6s;
}
.xufeidaixin-content-right{
	width:370px;
	margin-left:151px;
}
.xufeidaixin-content-right-box{
	width:370px;
	height: 110px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top:45px;
	border-radius: 2px;
}
.xufeidaixin-content-box-box-img{
	width:50px;
	height: 50px;
	margin-left:28px;
}
.xufeidaixin-content-right-box-box{
	margin-left:15px;
}
.xufeidaixin-content-right-box-title{
	font-size:16px;
	color:#333;
}
.xufeidaixin-content-right-box-text{
	font-size:13px;
	color:#666;
}
.xufeidaixin-content-right-buttom{
	width:180px;
	height: 50px;
	line-height: 50px;
	color:#fff;
	text-align: center;
	background-color: #7464DE;
	margin-top:69px;
	border-radius: 3px;
	margin-left:19px;
}
.xufeidaixin-content-right-box:hover{
	background-color: #F7F7F7;
}
.xufeidaixin-content-right-buttom:hover{
	opacity: 0.8;
}

/*2*/
.content2{
	width:100%;
	/*height: 730px;*/
	min-width: 1500px;
	background-color: #F7F7F7;
	padding: 60px 0;
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.xufeidaixin-content-box2{
	width:340px;
	height: 653px;
	background: url(../img/phone_2.png) no-repeat center center;
	background-size: 100%;
	position: relative;
		margin-left:151px;
}
.xufeidaixin-content-right2{
	width:370px;
}
.xufeidaixin-title2{
	font-size:36px;
	color:#333;
	line-height: 52px;
	width:100%;
	text-align: center;
	margin-top:77px;
}
.xufeidaixin-content-right-box2:hover{
	background-color: #FFF;
}
.moudule-phone2{
	width:200px;
	height: 66px;
	background-color:#7464DE;
	border-radius:5px 0px 0px 5px;
	position: absolute;
	right:0;
	bottom:102px;
	display: flex;
	flex-direction: row;
	align-items: center;
}


/*招商加盟*/
.zhaoshangjiameng-header-box-img{
	width:100%;
	min-width: 1500px;
	height: 597px;
	position: relative;
}
.zhaoshangjiameng-header-box-text-box{
	position: absolute;
	top:213px;
	width:100%;
}
.zhaoshangjiameng-header-box-text1{
	font-size:70px;
	font-weight: bold;
	width:100%;
	text-align: center;
	color:#FFF;
}
.zhaoshangjiameng-header-box-text2{
	font-size:70px;
	font-weight: bold;
	width:100%;
	text-align: center;
	color:#FFF;
}
.zhaoshangjiameng-header-box-buttom{
	display: block;
	width: 220px;
	height: 70px;
	border-radius: 3px;
	background-color: #FFF;
	line-height: 70px;
	text-align: center;
	margin:0 auto;
	margin-top:33px;
	color:#7464DE;
	font-size:30px;
	cursor: pointer;

}
.zhaoshangjiameng-header-box-buttom:hover{
	opacity: 0.8;
}



/*招商加盟*/
.zhaoshang-list-box{
	width:100%;
	min-width: 1500px;
	height: 560px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.zhaoshang-list-box-list{
	width:1235px;
	/*margin: 0 auto;*/
	/*margin-top:130px;*/

}
.zhaoshang-lis{
	width:285px;
	height: 300px;
	margin-left:20px;
	display: inline-block;
}
.zhaoshang-lis-top{
	width:100%;
	height: 181px;
	background:linear-gradient(180deg,rgba(53,135,255,1) 0%,rgba(97,202,254,1) 100%);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.zhaoshang-lis-top-img{
	width:100px;
	height: 100px;
}
.zhaoshang-lis-botton{
	width:100%;
	height: 119px;
	background-color: #F7F7F7;
}
.zhaoshang-lis-botton-text1{
	font-size:20px;
	color:#333;
	padding-top:25px;
	box-sizing: border-box;
	width:100%;
	text-align: center;
	line-height: 30px;
}
.zhaoshang-lis-botton-text2{
	font-size:20px;
	color:#333;
	width:100%;
	text-align: center;
	line-height: 30px;
}
.zhaoshang-lis-top-list1{
	background:linear-gradient(180deg,rgba(28,201,203,1) 0%,rgba(77,227,170,1) 100%);
}
.zhaoshang-lis-top-list2{
	background:linear-gradient(180deg,rgba(53,99,255,1) 0%,rgba(97,171,254,1) 100%);
}
.zhaoshang-lis-top-list3{
	background:linear-gradient(180deg,rgba(122,90,255,1) 0%,rgba(185,107,255,1) 100%);
}
.city-box{
	width:100%;
	min-width: 1500px;
	height: 681px;
	overflow: hidden;
}
.city-box-name{
	width:100%;
	font-size:36px;
	color:#333;
	line-height: 52px;
	text-align: center;
	margin-top:77px;
	position: relative;
}
.city-box-box{
	margin-top:155px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.city-box-box-list{
	width:236px;
	height: 279px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size:20px;
	line-height: 30px;
	color:#333;
	margin: 0 55px 0 55px;
}
.city-box-box-list-img{
	width:150px;
	height: 150px;
	margin-bottom:28px;
}



/*合作案例*/
   .jigoujiyu{
   	width:100%;
   	font-size:36px;
   	color:#333;
   	text-align: center;
   	margin-top:77px;
   }
    .case {
      width: 60%;
      /* height: 50%; */
     margin-top:80px;
    }
    .case .swiper-slide {
      position: relative;
      text-align: center;
      font-size: 18px;
      background: #fff;
      /*border:1px solid #aaa;*/

       Center slide text vertically
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
	  transition: 300ms;
	  transform: scale(0.8);
    }
    .case-img{
    	position: absolute;
    	top:0;
    	width:100px;
    	height: 100px;
    	/*margin: 0 auto;*/
    }
    .case-title{
    	font-size:16px;
    	color:#333;
    	margin-top:30px;
    	line-height: 21px;
    }
    .case-name{
    	font-size:14px;
    	color:#999;
    	line-height: 19px;
    	margin-top:2px;
    }
    .case-content{
    	width:236px;
    	font-size:14px;
    	color:#666;
    	margin:0 auto;
    	margin-top:49px;
    }
    .case-border{
    	position: absolute;
    	top:47px;
    	left:0;
    	width:100%;
    	height: 468px;
    	box-shadow:0px 4px 8px rgba(175,175,175,0.2);
    	z-index: -1;
    }
    .case-right{
    	position: absolute;
    	top:384px;
    	right:10px;
    	width:30px;
    	height: 30px;
    	z-index: -1;
    }
    .case-left{
    	position: absolute;
    	top:204px;
    	left:10px;
    	width:30px;
    	height: 30px;
    }
	.case .swiper-slide-active,.case .swiper-slide-duplicate-active{
      transform: scale(1);
	}


/*合作案例轮播图*/
.case .swiper-pagination{
	top:549px;
}
.case .swiper-pagination-bullet{
	background-color: #F1F1F1;
	width:24px;
	height: 8px;
	border-radius: 4px;
}
.case .swiper-pagination-bullet-active{
	background-color:#7464DE;
	width:24px;
	height: 8px;
	border-radius: 4px;
	opacity: 1;
}

/*合作案例*/
.they{
	width:100%;
	min-width: 1500px;
	height: 761px;
	position: relative;
}
.they-title{
	width:100%;
	font-size:36px;
	color:#333;
	text-align: center;
}
.they-img{
	display: block;
	width:1300px;
	height: 330px;
	background-color: #F1F1F1;
	margin:0 auto;
	margin-top:108px;
}
.they-phone{
	position: absolute;
	right:0;
	top:614px;
}
